stages:
- build-builder
- build-distroless
- basic-tests
- http-tests
- advanced-tests
- scan
- publish

# ---------------------- Variables ---------------------- #

variables:
  TRIVY_VERSION: "0.68.2"

.python-3.13-debian13:
  variables:
    PYTHON_VERSION: "3.13.12"
    OS_VERSION: debian13
    DEBIAN_NAME: trixie

.python-3.14-debian13:
  variables:
    PYTHON_VERSION: "3.14.3"
    OS_VERSION: debian13
    DEBIAN_NAME: trixie

# --------------------- Build Stages -------------------- #

include:
- local: "stages/gitlab-templates.yaml"
- local: "stages/python-3.13-debian13.yaml"
- local: "stages/python-3.14-debian14.yaml"
