[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-pubsub = "*"
google-api-core = "*"
google-auth = "*"

[requires]
python_version = "3"
